{
	"printWidth": 200,
	"semi": true,
	"vueIndentScriptAndStyle": false,
	"singleQuote": true,
	"trailingComma": "all",
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "css",
	"endOfLine": "crlf",
	"useTabs": true,
	"tabWidth": 4
}
